.body1{
    background-color: #100c0d;
}

.navbar {
    background-color: black;
    
}

#navbarTogglerDemo02 a{
    color:orange ;
    padding-top: 15px;
    font-weight: bolder;
}

#navbarTogglerDemo02 a:hover{
    color:white ;
    
}

form{
    background-color: black;
    height: 500px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 50px;
    width: max-content;
    margin-left: 200px;
    height: 600px;
    
}



form .form1{
    display: grid;
    text-align: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin-left: 50px;
    

    
}

form .form1 input{
    margin-right: 50px;
    
}
form .form1 label{
    justify-content: center;
    margin-top: 10px;
    margin-right:50px ;
    font-weight: bolder;
    
}

.dropdown-menu .dropdown-item:hover{
    background-color: black;

}

form:hover{
    background-image: url(../images/images\ \(2\).jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center; 
    border: 2px solid orange;
    border-radius: 15px;
    
    
}


h3{
    font-family: 'Archivo Black', sans-serif;
}

h3 span{
    font-family: 'Archivo Black', sans-serif;
}


.social{
    display: inline;
    padding: 10px;
    margin-left: 10px;
    
}
.social1{
    fill: gray;
    display: inline;
}

.social1:hover{
    fill: orange;
    cursor: pointer;

}

.form1 button{
    width: max-content;
    border-radius: 15px;
     margin-top: 10px;
     margin-bottom: 50px;
     margin-left: 250px;
     background-color: orange;
     color: white;cursor: pointer;
}


<<<<<<< HEAD:CSS/Registeration_form.css




/*Mobile device*/

@media (max-width:767px){

    .navbar {
        
        width: 500px;
    }
=======
/*Mobile device*/

@media (max-width:767px){
>>>>>>> c9a84bcf82313c069e14a0bbe184b91f4959a059:Registeration_form.css
    form{
        margin-left: 0px;
        width: 450px;
        margin-right: 10px;
    }
    form .form1 .firstandlast{
        width: 300px;
        margin-left: 10px;
    }

    
#first{
    display: block;
}

.registerbtn{
    background-position-x: center;
}


footer .categ3 .emailaddress{
    width: 150px;
   }
<<<<<<< HEAD:CSS/Registeration_form.css

   footer .support{
    margin-left: 45px;
    padding-top: 5px;
  }
   
  footer{
    width:500px
}

=======
  
>>>>>>> c9a84bcf82313c069e14a0bbe184b91f4959a059:Registeration_form.css
  }




<<<<<<< HEAD:CSS/Registeration_form.css
=======
}
>>>>>>> c9a84bcf82313c069e14a0bbe184b91f4959a059:Registeration_form.css
