.body1{
    background-color: #100c0d;
}


/* for loading */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid orange;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    
  }

  /* end of loading*/

.contianer{
    display: grid; 
    justify-content: center;
    
}

.navbar {
    background-color: black;
    
}

#navbarTogglerDemo02 a{
    color:orange ;
    padding-top: 15px;
}

#navbarTogglerDemo02 a:hover{
    color:white ;
    
}

.bigPhoto{
    background-image: url("images/10.jpeg");
    width:1000px ; 
    height: 650px; 
    
    background-repeat: no-repeat;
    border-radius: 15px;
    
}

.bigPhoto:hover{
   cursor: pointer;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
   border: 5px solid orange;
}

.slogan{
    color: white;
    padding-left:15px ;
    margin-top: 150px;
    font-family: 'Anton', sans-serif;
}



#row1{
    display: grid; 
    grid-template-columns: repeat(5,110px); 
    justify-content: center;
    margin-top: 10px;
}

#yoga{
    background-image: url("images/yoga.jpg");
  
    width: 100%;
    height: 200px;
}


#group{
    background-image: url("images/10.jpeg");
    width: 100%;
    height: 500px;
}
p{
    color: blue;
}

.MenAndWomen{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    margin-top: 20px;
   

}

.MenAndWomen .Men{
    background-image: url("images/images\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 300px;
    display: inline;
    border: 2px solid black;
    background-size: cover;
    text-align: center;
    color: white;
    
}

.MenAndWomen .women{
    background-image: url("images/images\ \(12\).jpeg");
    background-repeat: no-repeat;
    border: 2px solid black;
    background-size: cover;
    height: 300px;
    display: inline;
    text-align: center;
    color: white;
}



.contianer .category{
    background-color: black;
     width: 100%;
     display: flex;
     justify-content: center;
     text-align: center;
     margin-top: 10px;
}

.contianer .category .classes_of_categ{
    width: 20%;
    height:300px;
    border: 2px solid orange; 
    border-radius: 15px;
    display: inline;
}

.About-us{
    border-radius: 20px;
    background-color: black;
    text-align: center;
    color: white;
    margin-bottom: 10px;

}

.About-us:hover{
    
    background-color: orange;
    
}


.social{
    display: inline;
    padding: 10px;
    margin-left: 10px;
    
}
.social1{
    fill: gray;
    display: inline;
}

.social1:hover{
    fill: orange;
    cursor: pointer;

}

.contact:hover{
      color: orange;
      box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
      cursor: pointer;
}

h3{
    font-family: 'Archivo Black', sans-serif;
}

h3 span{
    font-family: 'Archivo Black', sans-serif;
}

.dropdown-menu .dropdown-item:hover{
    background-color: black;

}

.contianer .category .classes_of_categ:hover{
      position: relative;
      top: -125px;
}




@media (min-width: 481 px) and (max-width:767 px){
    .contianer .category{
        display: flex;
        flex-direction: column;
        justify-content: center ;
    }

    {
        
    }


}
